<div class="dash-well">
	<div class="gravatar-dashboard">
		<%= image_tag avatar_url(@user), :class => 'gravatar-pos-fix' %>
		<h1 class="nuvo wtxt"><%= current_user.username.capitalize %></h1>
		<h3><%= user.bio %></h3>
	</div>
</div>