<div class="dash-well">
	<div class="gravatar-dashboard">
		<%= image_tag avatar_url(@user), :class => 'gravatar' %>
		<h1 class="nuvo wtxt"><%= current_user.username.capitalize %></h1>
	</div>
</div>